{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>mellow</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Quicksand|Ubuntu+Mono&amp;subset=latin-ext">
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'style_prototype.css'%}">
</head>
<body class="viewPort">
  <main>
    <header>
      <button class="cadastro text-uppercase">Cadastro</button>
      <i class="fa fa-user-plus fa-3x cadastro-icon"></i>
    </header>
    <div id="logo-place">
      <div id="logo-swap">
        <img class="main-logo" src="../static/images/mellow-yellow.svg" alt="Mellow Logo">
        <img class="main-logo" src="../static/images/mellow-green.svg" alt="Mellow Logo">
        <img class="main-logo" src="../static/images/mellow-blue.svg" alt="Mellow Logo">
        <img class="main-logo" src="../static/images/mellow-lilac.svg" alt="Mellow Logo">
        <img class="main-logo" src="../static/images/mellow-salmon.svg" alt="Mellow Logo">
      </div>
    </div>
    <div id="terminal-place">
      <div id="terminal">
        <div class="login-form">
          <span class="terminal-comment"># insira sua matricula e aperte a tecla tab</span>
          <br>
          <span class="terminal-code">$ login:</span>
          <input type="text">
        </div>
        <div class="login-form">
          <span class="terminal-comment"># insira a senha e aperte enter</span>
          <br>
          <span class="terminal-code">$ password:</span>
          <input type="password">
        </div>      
        <button id="submit">Entrar</button>
        <button id="forgot">Esqueci minha senha</button>
      </div>
    </div>
  </main>
</body>
<script src="https://use.fontawesome.com/118ffb476b.js"></script>
</html>