body {
  height: 100%;
  background-color: #F4F7F6;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

header {
  height: 70px;
  background-color: #282C34;
  padding: 0px;
  
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

button:focus {
  outline: none;
}

.ulink {
  color: #45D298;
  font-weight: 400;
  text-decoration: underline;
}

.ulink:hover {
  color: #282C34;
}

#copyright {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  position: absolute;
  bottom: 2px;
  font-size: 0.85em;
  color: #979797;
}

#logo-swap img {
  display: block;
  animation-name: colorChanging;
  animation-timing-function: initial;
  animation-iteration-count: infinite;
  animation-duration: 15s;
}
#logo-swap img:nth-of-type(1) {
  animation-delay: 12s;
  position: absolute;
  z-index: 1;
}
#logo-swap img:nth-of-type(2) {
  animation-delay: 9s;
  position: absolute;
  z-index: 2;
}
#logo-swap img:nth-of-type(3) {
  animation-delay: 6s;
  position: absolute;
  z-index: 3;
}
#logo-swap img:nth-of-type(4) {
  animation-delay: 3s;
  position: absolute;
  z-index: 4;
}
#logo-swap img:nth-of-type(5) {
  animation-delay: 0s;
  position: absolute;
  z-index: 5;
} 

.main-logo {
  margin: 5px 20px;
  height: 60px;
}

#hidden-menu {
  background-color: #282C34;
}

.form-box {
  width: 50%;
  height: 530px;
  margin: auto;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(119, 125, 122, 0.75);
  border-radius: 15px;
  background-color: #F8FAF9;
}

.little-box {
  height: 300px;
}

.form-control {
  width: 85%;
  height: 38px;
  margin: 27px 50px 0px 50px;
  font-weight: 400;
}
.form-control input:nth-of-type(1) {
  margin-top: 40px;
}
.form-control input:nth-of-type(6) {
  margin-bottom: 10px;
}

.center-form {
  width: 65%;
  margin: auto;
  margin-top: 50px;
}

.desc {
  height: 150px;
}

.label {
  margin: 17px 52px -20px 52px;
  font-weight: 300;
}

.solicit {
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-pill {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  color: #FFFFFF;
  text-transform: uppercase;
  border-style: none;
  border: none;
  padding: 8px 20px;
  border-radius: 50px;
  cursor: pointer;
}

.btn-positive {
  background-color: #45D298;
  color: #FFFFFF;
}

.btn-right {
  float: right;
  margin: 17px 48px 20px 48px;
}

.btn-center {
  margin: 50px 220px;
}

.btn-header {
  position: absolute;
  right: 30px;
  top: 18px;
}

.btn:hover {
  color: #282C34;
}

.invis {
  color: #F4F7F6;
  margin-top: 20px;
  margin-bottom: 10px;
}

.down {
  margin-top: 70px;
}