{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>mellow</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:500,700|Open+Sans:300,400|Share+Tech+Mono">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'inside.css'%}">
  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous" async></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous" async></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous" async></script>  
</head>
<body>
  <header class="row dark-menus">
    <div id="logo-swap" class="col-md-3">
      <img class="main-logo" src="../static/images/mellow-lilac.svg" alt="Mellow Logo">
    </div>
    <div>
      <a class="btn btn-pill btn-header btn-positive" href="/">Sair</a>
    </div>
  </header>
  <div class="row">
    <div class="col-md-1 dark-menus" id="side-menu">
      <ul class="fa-ul">
        <li><i class="fa-user-circle-o fa-li fa-4x light-i menu-i"></i></li>
      </ul>
    </div>
    <div class="col-md-11">

    </div>
  </div>

  <footer class="row">
    <span id="copyright" class="col-md-12 text-right">&copy;  2017  mellow.code</span>
  </footer>
</body>
</html>