{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>mellow</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:500,700|Open+Sans:300,400|Share+Tech+Mono">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'style.css'%}">
  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous" async></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous" async></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous" async></script>  
</head>
<body>
  <header class="row">
    <div id="logo-swap" class="col-md-3">
      <img class="main-logo" src="../static/images/mellow-lilac.svg" alt="Mellow Logo">
    </div>
    <div>
      <a class="btn btn-pill btn-header btn-positive" href="/">Login</a>
    </div>
  </header>
  <div class="row">
    <span class="col-md-12 text-center solicit">Se você é um prefessor, solicite seu cadastro por <a class="ulink" href="/request">aqui</a>.</span>
    <div class="form-box">
      <input class="form-control" type="text" placeholder="Nome">
      <input class="form-control" type="number" placeholder="Matrícula">
      <input class="form-control" type="email" placeholder="E-mail">
      <input class="form-control" type="tel" placeholder="Telefone">
      <select class="form-control" name="" id="">
        <option value="" disabled selected>Turno</option>
        <option value="morning">Manhã</option>
        <option value="afternoon">Tarde</option>
        <option value="evening">Noite</option>
      </select>
      <input class="form-control" type="password" placeholder="Senha">
      <input class="form-control" type="password" placeholder="Confirmar Senha">
      <button class="btn btn-pill btn-positive btn-right">Cadastrar</button>
    
      <!-- Modal -->
      <div class="modal fade" id="myLabel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <span>This is a modal</span>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="row">
    <span id="copyright" class="col-md-12 text-right">&copy;  2017  mellow.code</span>
  </footer>
</body>
</html>